mixin Nav(array)
    ul.nav.flex-lg-colummn.d-flex
        each val in array 
            li.navFooter__item
                i.fas.fa-chevron-right.mr-1
                a.navFooter__link(href="#")=val

//- product item column 
mixin ItemColumn(array)
    each val in array
        div(style=val.width,class=val.pricesub? 'card mr-4 mt-4 position-relative item-subprice ':' position-relative card mr-4 mt-4  ')
            .imgcard.d-lg-block.d-none
            img.card-img-top(src=val.url alt='Card image cap')
            .card-body(style='text-align:center')
                h5.card-title
                    a(href="product-detail")=val.name
                div(style='color :yellow ; font-size: 70%')
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                span.card-text.mr-1(style='color:red;')= val.price
                if(val.pricesub)
                    span(style='text-decoration: line-through; color:#706a6a;').card-text-price=val.pricesub
            .hoverShow.position-absolute
                button.btn.btn-success.addcart(type='button') thêm vào giỏ hàng
                button.btn.btn-success.mb-3(type='button') 
                    i.fas.fa-search
                    
mixin ItemRow(array)
    each val in array
        div(class=val.pricesub? 'card mr-4 mt-1 position-relative item-subprice p-1 flex-column flex-sm-row justify-content-center':'justify-content-center position-relative card mr-4 mt-1 p-1 flex-column flex-sm-row ' )
            .imgcard
                img.card-img-top(style='width : 140px ; height : 120px' src=val.url alt='Card image cap')
            .card-body
                h5.card-title 
                    a(href="product-detail.html")=val.name 
                div(style='color :red ; font-size: 70%')
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                span.card-text.mr-3(style='color:red;')= val.price
                if(val.pricesub)
                    span(style='text-decoration: line-through; color:#706a6a;').card-text-price=val.pricesub

mixin newsItem(array)
    each val in array 
        .card.mr-3.border-none(style='height :400px;')
            img.card-img-top.img-fluid(src=val.url alt='Card image cap')
            .card-body
                a.mb-2.card-title
                    h5=val.title
                h6.mb-1.card-subtitle.mb-2.text-muted=val.subtitle
                p.mb-1.card-text=val.content
                a.card-link(href='#news') Đọc tiếp...
    
mixin ItemList(array)
    each val in array
        div(class=val.pricesub? 'card mr-4 mt-1 position-relative item-subprice p-1 flex-row':' position-relative card mr-4 mt-1 p-1 flex-row ' style ='height : auto')
            .imgcard
                img.card-img-top.mt-4(style ='width :200px' src=val.url alt='Card image cap')
            .card-body
                h5.card-title 
                    a(href="product-detail.html")=val.name 
                div(style='color :red ; font-size: 70%')
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                span.card-text.mr-3(style='color:red;')= val.price
                if(val.pricesub)
                    span(style='text-decoration: line-through; color:#706a6a;').card-text-price=val.pricesub
                h6.content=val.content
                button.btn.btn-success.addcart(type='button') thêm vào giỏ hàng
                button.btn.btn-success(type='button') 
                    i.fas.fa-search
mixin newsCard(url,content)
    article.card.border-0.d-flex.flex-row.mb-3
        img.card-img-top(src=url alt='Card image cap').mr-1
        a(href="news-detail.html").card-text=content

mixin newsCardColumn(title,url,content)
    article.card.mb-2.mb-md-5.border-0
        .card-body
            h5.card-title.mb-3
                a(href="news-detail.html")=title  
            small.text-muted.d-flex.mb-2.ml-2 
                i.mr-3.fas.fa-table &nbsp; 20/11/2015
                i.mr-3.far.fa-clock &nbsp; 11:20:00 AM
                i.mr-3.far.fa-comment-dots &nbsp; 0 Bình luận
            img.card-img-top.mb-2(src=url alt='news image')
            p.card-text=content 
mixin commentTo(name,url,content)
    section.row.mb-5.mt-3 
        .comment-item.col-9.d-flex
            img.card-img-top.mr-2(src=url alt='Card image cap')
            .content
                h5.name=name 
                p.card-text=content
                small.text-muted
                    | Thứ 7,20/12/2021 12:00 AM
        a(href="#").link.col-3 
            i.fas.fa-reply


mixin commentReply(name,url,content)
    section.row.mb-5
        a(href="#").link.col-3 
            i.fas.fa-reply
        .comment-item.col-9.d-flex
            .content
                h5.name=name 
                p.card-text=content
                small.text-muted
                    | Thứ 7,20/12/2021 12:00 AM
            img.card-img-top(src=url alt='Card image cap')
        